/* Widget Header */
.h5, h5 {
    font-size: 12px;
}
/* Body */
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}
/* Header Image */
img {
    width:172px;
    height: auto;
    margin-bottom:11px;
    margin-left:1px;
	margin-top:7px;
}
/* table */
div.table {
    margin-left:-9px;
    display: table;
    // width: 100%;
	width: 150px;
    table-layout: fixed;    /* For cells of equal size */
}
div.table span {
    // display: list-item;
    // width: 90px;
    // text-align: center;
}
.table{
    margin-bottom: auto;
}
.card-block {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 4px;
    margin-left: 20px;
}
.card-header {
    padding: 0.75rem 8px;
    margin-bottom: 0;
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.spanCss {
    padding-left: 45px;
}
.linkAccount {
    cursor: pointer;
    margin-top: 12px;
    text-decoration: underline;
}
.contBackground {
	background-color: #EAEAEA;
	border-radius: 5px;
	height:	358px;
	width: 199px;
	padding-left: 5px;
	margin-left: -9.5px;
	border-style: solid;
	border-width: 2px;
	border-color: #C8C8C8;
}
.assets {
	border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    margin-left: -15px;
    border-color: lightgray;
    background-color: cornsilk;
	padding-left:4px;
	width:164px;
	margin-top: 3px;
}
#assetHeader {
	font-weight: bold;
	text-decoration: underline;
}