/* Widget Header */
.h5, h5 {
    font-size: 12px;
}
/* Body */
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}
/* Header Image */
img {
    width:172px;
    height: auto;
	margin-bottom:7px;
	margin-left:1px;
}
/* table */
div.table {
	margin-left:-1px;
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}
div.table span {
    display: table-cell;
	width: 90px;
    //text-align: center;
}
.table{
	margin-bottom: auto;
}
.card-block {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 10px;
}
.spanCss {
	padding-left: 45px;
}